:root {
  --color-black-900: #000000;
  --color-neon-purple-600: #9929ea;
  --color-neon-purple-400: #cc66da;
  --color-yellow-300: #faeb92;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-black-900);
  color: var(--color-yellow-300);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  border: 4px double var(--color-neon-purple-600);
  background-color: var(--color-black-900);
  box-shadow: 0 0 20px var(--color-neon-purple-400);
}

.instructions {
  margin-top: 20px;
  text-align: center;
}

.instructions ul {
  list-style-type: none;
  padding: 0;
}

.instructions li {
  margin: 5px 0;
}

#game-container {
  position: relative;
  width: var(--game-width);
  height: var(--game-height);
}
#pakman {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
}
#pakman-map {
  position: absolute;
  top: 0;
  left: 0;
}

#win-message,
#lose-message,
#paused-message {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid var(--color-neon-purple-600);
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px var(--color-neon-purple-400);
}

.show {
  display: flex !important;
}

.message button {
  padding: 10px 20px;
  background-color: var(--color-yellow-300);
  color: var(--color-black-900);
  border: none;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 0 10px var(--color-neon-purple-400);
}
