:root {
  --color-black-900: #000000;
  --color-neon-purple-600: #9929ea;
  --color-neon-purple-400: #cc66da;
  --color-yellow-300: #faeb92;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-black-900);
  color: var(--color-yellow-300);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  border: 4px double var(--color-neon-purple-600);
  background-color: var(--color-black-900);
  box-shadow: 0 0 20px var(--color-neon-purple-400);
}

.instructions {
  margin-top: 20px;
  text-align: center;
}

.instructions ul {
  list-style-type: none;
  padding: 0;
}

.instructions li {
  margin: 5px 0;
}
